body, html { height:100%; background-image:url(bg.png); font-family: "Trebuchet MS", Helvetica, sans-serif; margin:0; overflow:hidden }
h2 { margin:0 0 0.5ex 0 }
#view-container {width:100%; height:100%; overflow:hidden; padding:1ex}
#leftpanel {float:left; margin-right:20px}
#document-container { position:relative; box-shadow:1px 2px 7px 1px; background-color:#fff; width:300px; height:400px; margin:10px }
#pdfcanvas { display:block; width:100%; height:100% }
#margins {opacity:0.3}
.margin {background-color:black; position:absolute}
.margin.v {width:5%; height:100%}
.margin.h {width:100%; height:5%}
#m0 {left:0px; top:0px}
#m1 {left:0px; top:0px}
#m2 {right:0px; top:0px}
#m3 {left:0px; bottom:0px}
#region {position:absolute; left:5%; right:5%; top:5%; bottom:5%; border:dashed 2px darkred; margin:-1px}
.handle {position:absolute}
#region.dragging > .handle {opacity:0}
.handle > div {position:absolute; left:3px; top:3px; right:3px; bottom:3px}
.handle:hover > div {border-radius:5px; background-color:blue; opacity:0.3; box-shadow: 0px 0px 3px 3px blue;}
.handle.v {width:16px; top:7px; bottom:7px}
.handle.h {height:16px; left:7px; right:7px}
#h0 {cursor:w-resize; left:-9px}
#h1 {cursor:n-resize; top:-9px}
#h2 {cursor:e-resize; right:-9px}
#h3 {cursor:s-resize; bottom:-9px}

#turnpages {text-align:center}
#turnpages > .btn {background-position:center center}
#prevbtn {background-image:url("prev.png")}
#nextbtn {background-image:url("next.png")}

#rightpanel {float:none; overflow:auto}
#values {background-color:#ddd; padding:10px; box-shadow:1px 2px 7px 1px; float:left; margin:10px; max-width:30em}
#margininputs {display:inline-block; float:left; margin:0 0.7em 2ex 0; padding:.5em; background-color:#eeeeee}
#margintip {font-size:90%; color:#222}
#marginsrow1, #marginsrow3 {text-align:center}
#marginsrow2 {white-space:nowrap}
#marginsrow1, #marginsrow2 {margin-bottom:0.2em}
#i0 {margin-right:1em}
#margininputs input {width:3em; text-align:center}
#miscoptions td {vertical-align:top; padding:4px 0px}
#journalname {overflow:hidden;width:30px}
#buttons {text-align:right}
a.btn {text-decoration:none; color:#000; background-color:#aaa; border-color:#aaa; border-width:1px; border-style:outset;padding:5px 8px 5px 22px; display:inline-block; background-position:3px center; background-repeat:no-repeat; margin:0px 3px}
a.btn:hover {box-shadow:0px 0px 50px -25px #fff inset}
a.btn:active {border-style:inset}
a.btn.disabled {color:#555}
a.btn.disabled:hover {box-shadow:none}
a.btn.disabled:active {border-style:outset}
#startbtn {background-color:#c0e9bb;border-color:#c0e9bb;background-image:url("start.png")}
#abortbtn {background-color:#e9c0bb;border-color:#e9c0bb;background-image:url("abort.png")}
hr {clear:both; border:none; height:1px; background-color:#efefef; box-shadow:0px 0px 2px 1px #fff; margin:15px 0px}

#magnifyer { display:none; position:absolute; margin:-1px; border:1px solid #cca; overflow:hidden; background-color:#fff; box-shadow:1px 2px 4px 3px #bb9 }
#magnifyer.dir0 { display:block; width:150px; height:100px }
#magnifyer.dir1 { display:block; height:150px; width:100px }
#magnifycanvas {box-shadow:1px 2px 7px 1px; position:absolute}
#magnifierline { position: absolute; left:0px; right:0px }
.dir0 > #magnifierline { width:74px; height:100px; border-right:dashed 2px darkred }
.dir1 > #magnifierline { width:100px; height:74px; border-bottom:dashed 2px darkred }
#magnifyoverlay { position:absolute; left:0px; right:0px; top:0px; bottom:0px; background-color:#ffc; opacity:0.2 }
#magnifyarrow { display:block; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto }
.dir1 > #magnifyarrow {transform:rotate(90deg)}

#pagerangeinputs { display:none }
#pagestart, #pageend { width:3em; text-align:center }
#pagerangetable > tbody > tr > td { vertical-align:middle }
#k2pdfoptParams { width:100% }

#overlay {display:none; background-color: #000000; opacity: 0.3; position: fixed; left:0; top:0; right:0; bottom:0;}
#privacyTooltip {position:absolute; left:100px; top:100px; font-size:85%; max-width:35em; line-height:1.25; text-align:right; display:none}
#privacyText {background-color:#ffffff; box-shadow:0px 0px 10px 5px #444444; padding:0.7em; -moz-hyphens:auto; text-align:left}
#privacyTooltip table {border-collapse:collapse; margin:1ex 0; border-top:2px solid #cccccc; border-bottom:2px solid #cccccc}
#privacyTooltip th {white-space:nowrap; vertical-align:top; text-align:left; padding-right:0.3em; color:#222222}
#privacyTooltip th, #privacyTooltip td {padding-top:1px; padding-bottom:1px}
#privacyTooltip tr {border-top:1px solid #cccccc; border-bottom:1px solid #cccccc}
#closePrivacyTooltip {cursor:pointer; padding:3px; float:right; margin:0 0 10px 10px; opacity:0.5}
#closePrivacyTooltip:hover {opacity:1}
#privacyTooltipTriang {margin-right:20px}

p {margin:0 0 0.8ex 0}