[submodule "zotero-connectors"]
	path = dependencies/zotero-connectors
	url = https://github.com/robamler/zotero-connectors.git
[submodule "k2pdfopt-nacl"]
	path = dependencies/k2pdfopt-nacl
	url = https://github.com/robamler/k2pdfopt-nacl.git
