.modelcontainer {
	display: inline-block;
	overflow: hidden;
	width:180px;
	opacity: 1;
	transition: width .7s, opacity .7s;
}

.modelcontainer.hidden {
	transition: width .7s, opacity .7s;
	width: 0;
	opacity: 0	
}

.model {
	width: 144px;
	min-height: 240px;
	font-size: 16px;
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 6px -2px black;
	margin: 10px;
	padding: 10px;
	text-align: center;
	cursor: pointer
}

.model:hover {
	background-color: #ffd;
	box-shadow: 0px 0px 6px -1px black;
}

.model > img {
	margin-bottom: 5px;
}

.model > div {
	white-space: normal;
}

.modelcontainer.selected > .model {
	background-color: #e1f5dc;
	color: #071504;
	font-weight: bold;
	box-shadow: 0px 0px 6px -1px black inset;
	border: 2px solid #071504;
	margin: 8px
}

#model-select-container {
	margin: -6px
}

.filtername {
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	min-width: 5.5em
}

.filteroptions {
	position: relative;
	display: inline-block
}

.filteroptions > label,
.filteroptions > input[type="radio"] {
	font-weight: normal;
	cursor: pointer
}

.filteroptions > input[type="radio"],
.filteroptions > select {
	margin-left: 2em;
}

.selectheader {
	font-weight: bold
}

#questions-container {
	border: 1px solid #ccc;
}

.filter {
	padding: .5ex;
	opacity: 0.6;
	display: none
}

.filter.current {
	background-color: #ffd;
	opacity: 1;
}

#model-result {
	padding: .5ex;
	background-color: #e1f5dc;
	display: none;
	margin-top: 2ex
}

#model-result-header {
	font-weight: bold;
	margin-bottom: .5ex
}

#widthinput,
#heightinput,
#ppiinput {
	width: 4em;
	text-align: center
}

.filteroptions>label {
	font-weight: normal
}
